@font-face {
 font-family: 'JoystixMono';
 src: url('assets/joystix_mono.otf') format('opentype');
}

body, html {
  margin: 0;
  background-color: #fff6f4;
  color: dodgerblue;
}

.container {
  padding: 30px;
}

.fixed {
  position: fixed;
}

.overlay {
  z-index: 100;
}

.background {
  z-index: -100;
}

.full-screen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.non-interactive {
  pointer-events: none;
}

canvas {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'JoystixMono';
}
